.title{
    text-align: center;
    padding: 30px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.text{
    display: flex;
    flex-direction: row;
    padding: 3%;
    margin: 2.5% 0%;
    width: 50%;
    background-color: rgb(37, 43, 67);
    border: solid 3px var(--border-color);
    border-radius: 15px;
}


.skills{
    width: 45%;
    margin: 2.5% 0%;
}

.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 10%;
    color: var(--color-text);
}

.list li{
    padding: 5%;
    border: solid 3px var(--border-color);
    border-radius: 15px;
}