*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root{
  --color-text: #E3E7EF;
  --border-color: #9676ee;
  --color-title:#25efc7;
}

body {
  margin: 0;
  font-family: "Inconsolata", sans-serif;
  font-weight: 550;
  font-size: 27px;
  -ms-overflow-style: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Rubik", serif;
  font-weight: 600;
  font-size: 45px;
  color: var(--color-title);
}

p{
  color: var(--color-text);
}

::-webkit-scrollbar {
  display: none;
}