*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-text: #E3E7EF;
  --border-color: #9676ee;
}

body {
  margin: 0;
  font-family: "Inconsolata", sans-serif;
  font-weight: 550;
  font-size: 25px;
}

h1, h2, h3, h4, h5, h5{
  font-family: "Rubik", serif;
  font-weight: 600;
  font-size: 35px;
  color: #25efc7;
}