*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root{
  --color-text: #E3E7EF;
  --border-color: #9676ee;
  --color-title:#25efc7;
  --back-color: #252b43;
  --container-color: #1d1c33;
}

body {
  font-family: "Inconsolata", sans-serif;
  font-weight: 550;
  font-size: 27px;
  -ms-overflow-style: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Rubik", serif;
  font-weight: 600;
  font-size: 45px;
  color: var(--color-title);
}

p{
  color: var(--color-text);
}

::-webkit-scrollbar {
  display: none;
}


@media (max-width: 480px) {

  body {
    font-weight: 450;
    font-size: 20px;
  }

  h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    font-size: 30px;
  }
  
}